.projectsViewBg {
    background-color: var(--bg-primary-dark-mode);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectsViewContainer {
    padding-top: 15rem;
    display: flex;
    flex-direction: column;
    width: 85%;
    gap: 5rem;
}

.cardHoverContainer {
    transition: opacity .2s ease-in-out;
}

.cardHoverContainer:hover {
    opacity: .75;
}

.projectsViewText {
    transform: translateY(10px);
}

.projectsViewHeaderText {
    color: var(--text-primary-dark-mode);
    font-size: 1rem;
    letter-spacing: .15rem;
    font-weight: 500;
}

.projectsViewHeaderSubText {
    color: var(--text-primary-dark-mode);
    display: flex;
    font-size: 5rem;
    font-weight: 600;
    gap: 1rem;
    line-height: 6rem;
}

.portfolioV3Nav {
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    margin-top: 2rem;
    margin-left: 5rem;
    font-weight: 400;
    font-size: 1rem;
    color: #fafafab3;
    width: fit-content;
}

.portfolioV3Nav svg {
    transform: translate(0%, 0%);
    margin-left: .2rem;
    transition: all .2s ease-in-out;
}

.portfolioV3Nav svg.hover {
    transform: translate(10%, 0);
}

.projectCardsContainer {
    display: grid;
    gap: 2rem;
    max-width: 320px;
}

@media (max-width: 780px) {
    .projectsViewContainer {
        width: 95%;
        align-items: center;
    }
    .projectsViewHeaderText {
        font-size: 1rem;
    }
    .projectsViewHeader {
        margin-left: 0;
    }
    .projectsViewHeaderSubText {
        font-size: 3.5rem;
    }
    .projectCarouselContainer {
        margin-left: 0;
    }
    .portfolioV3Nav {
        margin-left: 2rem;
    }
}
