.experiencesBg {
    height: 130vh;
    width: 100vw;
    background-color: #1A191D;
}

.experiencesContainer {
    display: flex;
    gap: 2rem;
    margin: 0 auto;
    padding: 4rem 0;
    justify-content: center;
    border-radius: 25px;
    background: linear-gradient(145deg, #c8c8c8, #eeeeee);
    box-shadow:  0px 0px 28px rgba(224, 224, 224, .8);
    /* box-shadow: 0 0 20px 5px rgba(255, 64, 129, 0.7); */
}

.experienceHeaderContainer {
    text-align: center;
    margin-bottom: 10rem;
    color: #1A191D;
}

.experienceHeader {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: .5rem;
}

.experiencesContent {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 900px;
}

.jobCard {
    color: #1A1A1A;
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 1.5rem 2rem;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: #d8d8d8;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 
        0 4px 6px rgba(0, 0, 0, 0.05);
}

/* .jobCard.hover {
    background-color: rgba(17, 23, 84, 0.4);
    border: 1px solid #3e51f8;
} */

/* .jobCard.unselected {
    border: 1px solid #2f2f2f;
} */

.jobLeftSide {
    color: #666666;
    transition: all 0.2s ease-in;
}

.jobRightSide {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    transition: all 0.2s ease-in;
}

.jobLeftSide.fadedDesc {
    opacity: .5;
}

.jobRightSide.fadedDesc {
    opacity: .5;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.jobPosition {
    font-size: 1.25rem;
    font-weight: 500;
}

.jobLocation {
    color: #666666;
}

.jobDescription {
    color: #666666;
    font-size: .875rem;
    word-break: break-word;
}

.skillChipContainer {
    display: flex;
    gap: .5rem;
    margin-top: .5rem;
    flex-wrap: wrap;
}

.skillChip {
    color: #666666;
    font-size: .75rem;
    border: 1.5px solid #A0A0A0;
    background-color: transparent;
    border-radius: 25px;
    padding: .25rem .75rem;
    transition: all 0.3s ease-in-out;
}

.skillChip.selected {
    background-color: #3A48C1;
    border: 1.5px solid transparent;
    color: white;
}

@media (max-width: 1199px) {
    .jobCard {
        grid-template-columns: 20% 80%;
    }
    .experiencesContainer {
        width: 90vw;
    }
}

@media (max-width: 575px) {
    .experiencesContent {
        width: 90%;
    }
    .experienceHeaderContainer {
        font-size: .875rem;
    }
    .experienceHeader {
        font-size: 2rem;
    }
    .jobCard {
        display: flex;
        flex-direction: column;
    }
    .title {
        flex-direction: column;
        align-items: flex-start;
    }
    .jobPosition {
        font-size: 1rem;
    }
    .jobDescription {
        font-size: .875rem;
    }
}
