.experiencesBg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background: #0c0c0c;
}

.experiencesContainer {
    display: flex;
    gap: 2rem;
    margin: 0 auto;
    padding: 4rem 0;
    justify-content: center;
    border-radius: 25px;
    background: var(--bg-primary-dark-mode);
    box-shadow: var(--glow-large-dark-mode);
    transition: background-color .3s ease-in-out;
}

.experienceHeaderContainer {
    text-align: center;
    margin-bottom: 10rem;
    color: var(--subtext-default-light-mode);
}

.experienceHeader {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: .5rem;
    background: var(--text-gradient-primary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.experiencesContent {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 850px;
}

.jobCard {
    color: var(--text-primary-dark-mode);
    background: var(--card-bg-dark-mode);
    border-radius: 25px;
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 1.5rem 2rem;
    border-radius: 10px;
    border: 1px solid transparent;
    box-shadow: var(--glow-small-light-mode);
    transition: all .3s ease-in-out;
    overflow: hidden;
}

.jobCard.hover {
    border: 1px solid var(--accent-primary);
}

.jobLeftSide {
    color: #a6a6a6;
}

.jobRightSide {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    transition: all 0.2s ease-in-out;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.jobPosition {
    font-size: 1.25rem;
    font-weight: 500;
}

.jobLocation {
    color: #a5a5a5;
}

.jobDescription {
    color: #a5a5a5;
    font-size: .875rem;
    word-break: break-word;
    overflow: hidden;
}

.skillChipContainer {
    display: flex;
    gap: .5rem;
    margin-top: .5rem;
    flex-wrap: wrap;
}

.skillChip {
    color: #a6a6a6;
    border: 1.5px solid #2b2b2b;
    font-size: .75rem;    
    background-color: transparent;
    border-radius: 25px;
    padding: .25rem .75rem;
    transition: all 0.3s ease-in-out;
}

.skillChip.selected {
    background-color: #2b65ff;
    border: 1.5px solid transparent;
    color: white;
}

@media (max-width: 1199px) {
    .experiencesContent {
        width: 700px;
    }
    .experienceHeaderContainer {
        font-size: 1.5rem;
    }
    .experienceHeader {
        font-size: 4rem;
    }
    .jobCard {
        /* grid-template-columns: 20% 80%; */
        display: flex;
        flex-direction: column;
    }
    .title {
        flex-direction: column;
        align-items: flex-start;
    }
    .experiencesContainer {
        width: 90vw;
    }
}

@media (max-width: 575px) {
    .experiencesBg {
        height: auto;
    }
    .experiencesContent {
        width: 90%;
    }
    .experienceHeaderContainer {
        font-size: .875rem;
    }
    .experienceHeader {
        font-size: 3rem;
    }
    .jobCard {
        display: flex;
        flex-direction: column;
    }
    .title {
        flex-direction: column;
        align-items: flex-start;
    }
    .jobPosition {
        font-size: 1rem;
    }
    .jobDescription {
        font-size: .875rem;
    }
}
