.experiencesBg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    width: 100vw;
    background-color: var(--bg-secondary);
}

.experiencesContainer {
    display: flex;
    gap: 2rem;
    margin: 0 auto;
    padding: 4rem 0;
    justify-content: center;
    border-radius: 25px;
    background: var( --bg-primary-light-mode);
    box-shadow:  var(--glow-large-light-mode);
    transition: background-color .3s ease-in-out;
}

.experiencesContainer.darkMode {
    background: var(--bg-primary-dark-mode);
    box-shadow: var(--glow-large-dark-mode);
}

.experienceHeaderContainer {
    text-align: center;
    margin-bottom: 10rem;
    color: var(--text-primary-light-mode);
}

.experienceHeaderContainer {
    color: var(--text-primary-light-mode);
}

.experienceHeaderContainer.darkMode {
    color: var(--subtext-default-light-mode);
}

.experienceHeader {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: .5rem;
    background: var(--text-gradient-primary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.experiencesContent {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 850px;
}

.jobCard {
    color: var(--text-primary-light-mode);
    background: var(--bg-primary-light-mode);
    border-radius: 25px;
    background: var(--card-bg-gradient-light-mode);
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 1.5rem 2rem;
    border-radius: 10px;
    border: 1px solid transparent;
    box-shadow: var(--glow-small-light-mode);
    transition: all .3s ease-in-out;
}

.jobCard.darkMode {
    color: var(--text-primary-dark-mode);
    background: var(--card-bg-dark-mode);
}

.jobCard.hover {
    border: 1px solid var(--accent-primary);
}

.jobCard p {
    transition: all .3s ease-in-out;
}

.jobCard.darkMode.hover p {
    color: #cbcbcb;
}

.jobLeftSide {
    color: #666666;
    transition: all 0.2s ease-in;
}

.jobLeftSide.darkMode {
    color: #a6a6a6;
}

.jobRightSide {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    transition: all 0.2s ease-in-out;
}

.jobLeftSide.fadedDesc {
    opacity: .5;
}

.jobRightSide.fadedDesc {
    opacity: .5;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.jobPosition {
    font-size: 1.25rem;
    font-weight: 500;
}

.jobLocation {
    color: #666666;
}

.jobLocation.darkMode {
    color: #a5a5a5;
}

.jobDescription {
    color: #666666;
    font-size: .875rem;
    word-break: break-word;
}

.jobDescription.darkMode {
    color: #a5a5a5;
}

.skillChipContainer {
    display: flex;
    gap: .5rem;
    margin-top: .5rem;
    flex-wrap: wrap;
}

.skillChip {
    color: #666666;
    border: 1.5px solid #A0A0A0;

    font-size: .75rem;    
    background-color: transparent;
    border-radius: 25px;
    padding: .25rem .75rem;
    transition: all 0.3s ease-in-out;
}

.skillChip.darkMode {
    color: #a6a6a6;
    border: 1.5px solid #2b2b2b;
}

.skillChip.selected {
    background-color: #2b65ff;
    border: 1.5px solid transparent;
    color: white;
}

.darkModeToggle {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.darkModeToggle button {
    font-size: .875rem;
    background-color: transparent;
    color: #101010;
    transition: all .3s ease-in-out;
    border: 1px solid #d8d8d8;
}

.darkBtn.darkMode {
    color: #fff;
}

.lightBtn.darkMode {
    color: #fff;
}

.darkBtn:focus {
    outline: transparent solid;
}

.lightBtn:focus {
    outline: transparent solid;
}

.darkBtn:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
}

.lightBtn:hover {
    box-shadow: 0px 0px 15px #a033ff;
}

.darkBtn.darkMode:hover {
    box-shadow: 0px 0px 15px #2b65ff;
}

.lightBtn.darkMode:hover {
    box-shadow: 0px 0px 15px #fff;
}

@media (max-width: 1199px) {
    .experiencesContent {
        width: 700px;
    }
    .experienceHeaderContainer {
        font-size: 1.5rem;
    }
    .experienceHeader {
        font-size: 4rem;
    }
    .jobCard {
        /* grid-template-columns: 20% 80%; */
        display: flex;
        flex-direction: column;
    }
    .title {
        flex-direction: column;
        align-items: flex-start;
    }
    .experiencesContainer {
        width: 90vw;
    }
}

@media (max-width: 575px) {
    .experiencesBg {
        height: auto;
    }
    .experiencesContent {
        width: 90%;
    }
    .experienceHeaderContainer {
        font-size: .875rem;
    }
    .experienceHeader {
        font-size: 2rem;
    }
    .jobCard {
        display: flex;
        flex-direction: column;
    }
    .title {
        flex-direction: column;
        align-items: flex-start;
    }
    .jobPosition {
        font-size: 1rem;
    }
    .jobDescription {
        font-size: .875rem;
    }
    .darkModeToggle button {
        font-size: .875rem;
        background-color: transparent;
        color: #101010;
        transition: all .3s ease-in-out;
        border: 1px solid #d8d8d8;
    }
}
