.expertiseContainer {
    display: flex;
    width: min-content;
    gap: 1rem;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.skillCard {
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow:  14px 14px 28px #666666,
                 -14px -14px 28px #ffffff;
    padding: 1rem 2rem;
    width: 10rem;
    height: 10rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skillCard.darkMode {
    background: #212024;
}

.skillCard img {
    height: auto;
    width: 100%;
}

.skillLabel {
    font-size: 1.2rem;
    font-weight: 500;
    color: #5968FB;
}

