.aboutContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width: 100vw;
    padding-top: 15rem;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(2,3,5,1) 50%, var(--background-accent) 100%);
}

.aboutContent {
    width: 80%;
}

.aboutMe {
    font-size: 4rem;
    line-height: 4rem;
}

.aboutContent h2 {
    font-size: 2rem;
    font-weight: 400;
}

.aboutContent p:not(:last-child) {
    margin-bottom: 1rem;
}

.highlight {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.highlight::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.5rem;
    height: 1rem;
    background: #222E9C;
    z-index: -1;
    border-radius: 1px;
}

.word-highlight {
    color: #6d7bf9;
}

@media (max-width: 1199px) {
    .aboutContainer {
        height: 50vh;
    }
    .jobCard {
        grid-template-columns: 20% 80%;
    }
    .experiencesContainer {
        width: 90vw;
    }
}

@media (max-width: 575px) {
    .aboutContainer {
        align-items: center;
        height: 100vh;
        padding-top: 5rem;
    }
    .aboutContent {
        width: 90%;
    }
    .aboutContent h2 {
        font-size: 2rem;
    }
    .aboutMe {
        font-size: 2rem;
        line-height: 2.5rem;
    }
}
