.aboutContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-top: 15rem;
    background: linear-gradient(180deg, #0D0D0D 0%, #0D0D0D 50%,  rgba(43, 101, 255, .7) 100%);
}

.aboutContent {
    width: 80%;
}

.aboutMe {
    font-size: 5rem;
    line-height: 5rem;
    padding-bottom: 1rem;
}

.aboutContent h2 {
    font-size: 2rem;
    font-weight: 400;
}

.aboutContent p:not(:last-child) {
    margin-bottom: 1rem;
}

.highlight {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.highlight::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.5rem;
    height: 1rem;
    background: var(--accent-secondary);
    z-index: -1;
    border-radius: 1px;
}

.word-highlight {
    color: rgba(43, 101, 255, 1);
}

@media (max-width: 1199px) {
    .aboutContainer {
        height: 90vh;
    }
    .jobCard {
        grid-template-columns: 20% 80%;
    }
}

@media (max-width: 575px) {
    .aboutContainer {
        align-items: center;
        height: 100vh;
        padding-top: 5rem;
    }
    .aboutContent {
        width: 90%;
    }
    .aboutContent h2 {
        font-size: 2rem;
    }
    .aboutMe {
        font-size: 3rem;
        line-height: 3rem;
    }
}
