.contactContainer {
    background: linear-gradient(180deg, #101010 0%, #2b65ff 30%, #2b65ff 100%);
    display: flex;
    align-items: flex-end;
    padding: .2rem;
    border-top: none;
    border-radius: 5px;
    padding-bottom: 1rem;
}

.contactContent {
    background-color: #101010;
    padding: 3rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    gap: 2rem;
}

.contactText {
    font-size: 1.5rem;
    font-weight: 500;
    color: #2b65ff;
    letter-spacing: .05rem;
}

.mainTextContainer {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.getConnectedText {
    color: #fff;
    font-size: 5rem;
    font-weight: 600;
    line-height: 5rem;
}

.getConnectedSubText {
    font-size: 1.5rem;
}

.contactChipContainer {
    display: flex;
    flex-direction: column;
}

.contactChip {
    display: flex;
    border: 1px solid #2b65ff;
    border-radius: 10px;
    padding: .5rem .05rem;
    transition: all .2s ease-in-out;
}

.contactChip:hover {
    background-color: rgba(82, 89, 166, .25);
}

.contactChip img {
    width: 60px;
    height: auto;
}

.dividerDim {
    width: 100%;
    border: none;
    height: 1px;
    color: #2b65ff;
    background-color: #2b65ff;
}

.contactBottomContainer {
    display: flex;
    justify-content: space-between;
}

.nameAnimation {
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-size: 8rem;
    letter-spacing: .3rem;
    font-weight: 700;
    width: fit-content;
}

.contactMainContent {
    display: flex;
    justify-content: space-between;
}

.footerContent {
    display: flex;
    justify-content: space-between;
}

.letsGetContainer {
    overflow: hidden;
    height: 5.5rem;
}

.connectedContainer {
    overflow: hidden;
    height: 6rem;
}

@media (max-width: 1199px) {

}

@media (max-width: 575px) {
    .getConnectedText {
        line-height: 3rem;
        font-size: 3rem;
    }
    .footerRight {
        display: none;
    }
    .contactMainContent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .contactContent {
        padding: 1rem;
    }
    .letsGetContainer {
        height: 3.5rem;
    }
    .connectedContainer {
        height: 4rem;
    }
    .getConnectedSubText {
        font-size: 1rem;
    }
    .copyright {
        font-size: .875rem;
    }
}