.contactContainer {
    background: linear-gradient(180deg, #fff, var(--bg-secondary));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.contactContainer.darkMode {
    background: linear-gradient(180deg, #101010, rgba(43, 101, 255, .7));
}

.contactContent {
    padding: 4rem;
    border-radius: 5px;
    background-color: #fff;
    width: 95%;
    height: 70%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contactContent.darkMode {
    background-color: #101010;
}

.contactText {
    font-size: 1.1rem;
    font-weight: 600;
    color: #2b65ff;
    letter-spacing: .05rem;
    align-self: flex-start;
}

.mainTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #101010;
}

.mainTextContainer.darkMode {
    color: #fff;
}

.getConnectedText {
    color: #101010;
    font-size: 5rem;
    font-weight: 600;
}

.getConnectedText.darkMode {
    color: #fff;
}

.contactChipContainer {
    display: flex;
    gap: .5rem;
}

.contactChip {
    display: flex;
    align-items: center;
    border: 1px solid #2b65ff;
    border-radius: 10px;
    padding: .5rem .05rem;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.contactChip:hover {
    background-color: rgba(82, 89, 166, .25);
}

.contactChip img {
    width: 60px;
    height: auto;
}

.divider {
    width: 100%;
    border-color: #2b65ff;
}

@media (max-width: 1199px) {

}

@media (max-width: 575px) {
    .getConnectedText {
        font-size: 3rem;
    }
}