:root {
    /* Utilizing CSS Variables */
    --background-primary: #fff;
    --background-secondary: #F8F8F8;
    --background-tertiary: #F7EDE2;
    /* --background-quaternary: #69847d; */
    --background-quaternary: #84A59D;
    --divider-primary: #E3E3E3;
    --text-primary-dark: #000;
    --text-primary-light: #fff;
    --btn-primary-light: #fff;
    --btn-accent: #F28482;
    --primary-gradient-dark: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  
    --text-fontsize-default: 0.875rem;
    --text-fontsize-large: 1rem;
    --text-fontsize-headers: 2rem;
    --text-fontweight-default: 400;
    --text-fontweight-medium: 500;
    --text-fontweight-semibold: 600;
    --text-fontweight-bold: 700;
    /* Utilizing CSS Variables */
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: "Jost", sans-serif;
    scroll-behavior: smooth;
}

body {
    background: rgb(97,97,97);
    background: radial-gradient(circle at 67% 25%, rgba(97,97,97,1) 0%, rgba(50,50,50,1) 10%, rgba(28,28,28,1) 17%, rgba(0,0,0,1) 30%, rgba(0,0,0,1) 100%);
}

a {
    color: inherit;
    text-decoration: none;
}

.noScroll {
    height: 100vh;
    overflow: hidden;
}
