.landingContainer {
    width: 100vw;
    height: 100vh;
    background: transparent;
    position: relative;
    /* background: radial-gradient(circle at 67% 35%, rgba(97,97,97,1) 0%, rgba(50,50,50,1) 10%, rgba(28,28,28,1) 17%, rgba(0,0,0,1) 30%, rgba(0,0,0,1) 100%); */
}

.cover {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  z-index: 1;
}

canvas {
  pointer-events: none;
}

.landingContentContainer {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
}

.landingContent {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-family: inherit;
    color: white;
    max-width: min-content;
    gap: .2rem;
    text-align: center;
}

.landingContent hr {
    border-color: #2b65ff;
}

.position {
    font-family: 'Lexend Deca', sans-serif;
    font-size: .875rem;
    font-weight: 400;
    letter-spacing: .1rem;
    white-space: nowrap;
    /* color: #2b65ff; */
}

.summary {
    font-size: .9rem;
    font-weight: 400;
    letter-spacing: .05rem;
    word-wrap: break-word;
}

.socials {
    display: flex;
    gap: 1rem;
}

.socials a {
    color: #A7A7A7;
    font-weight: 400;
    letter-spacing: .05rem;
}

.nav-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 15%;
    right: 10%;
    gap: .5rem;
}

.nav-container button {
    all: unset;
    position: relative;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: .1rem;
    z-index: 1;
    /* mix-blend-mode: difference; */
    width: fit-content;
    transition: color 0.3s ease-in-out;
    padding: 0 .1rem
}

.nav-container button::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2b65ff;
    z-index: -1;
    transition: width 0.3s ease-in-out;
}

.nav-container button:hover::before {
    width: 100%;
}

@media (max-width: 1199px) {

}

@media (max-width: 575px) {
    .position {
        font-size: .8rem;
    }
    .landingContentContainer {
        transform: translateX(-50%) translateY(0);
    }
    /* Need to implement a hamburger menu for mobile */
    .nav-container {
        display: none;
    }
}
